alembic==1.13.1
automium==0.2.6
automium-web==0.1.1
autopep8==2.0.4
beautifulsoup4==4.12.3
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
distlib==0.3.7
emailvalidator==0.3
filelock==3.13.4
Flask==2.3.3
Flask-JWT-Extended==4.5.2
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.3
gunicorn==21.2.0
idna==3.7
itsdangerous==2.1.2
Jinja2==3.1.3
legacy==0.1.6
Mako==1.3.3
MarkupSafe==2.1.5
packaging==24.0
pipenv==2023.9.8
platformdirs==3.11.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycodestyle==2.11.1
PyJWT==2.8.0
requests==2.31.0
soupsieve==2.5
SQLAlchemy==2.0.29
typing_extensions==4.11.0
urllib3==2.2.1
virtualenv==20.24.5
Werkzeug==3.0.2
wikipedia==1.4.0
Wikipedia-API==0.6.0
WTForms==3.1.2
