{% extends "base.html" %}

{% block content %}
    <h1 class="my-4">Wikipediaの検索</h1>
     {% from "_formhelpers.html" import render_field %}
    <form method="post" action="{{ url_for('wiki.search') }}" novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.keyword.label(class_="form-label") }}
            {{ form.keyword(class_="form-control") }}
        </div>

        <div class="mb-3">
        {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>

    <a href="{{ url_for('memo.index') }}" class="btn btn-secondary mt-2">戻る</a>
{% endblock %}